{% macro list(brandresourcefiles) %}

{% import 'SyliusResourceBundle:Macros:buttons.html.twig' as buttons %}
{% import 'GeckoBackendBundle:Macros:alerts.html.twig' as alerts %}
{% import 'GeckoBackendBundle:Macros:misc.html.twig' as misc %}

{% if brandresourcefiles|length > 0 %}
<div class="box">
	<div class="box-body table-responsive no-padding">
		<table class="table table-hover"><tbody>
			{% for brandresourcefile in brandresourcefiles %}
	        <tr>
				<td><a href="{{ path('hyundai_kroma_brandresourcefile_download', { 'id': brandresourcefile.id }) }}">Descargar {{ brandresourcefile.name }}</a></td>
			</tr>
	        {% endfor %}
		</tbody></table>
	</div>
</div>
{% else %}
{{ alerts.info('gecko.backend.no_results'|trans) }}
{% endif %}

{% endmacro %}